@import url("../font/font.css");

.searchbar {
    border-radius: 1.25rem;
    border-style: none;
    height: 25px;
    width: 200px;
    padding: 10px;
    background-color: #f1f1f1;
    font-family: "Pretendard-Medium";
}

input::-webkit-input-placeholder{
    color: #d1d1d1;
}