@import url("../font/font.css");

.mainsearchbar {
    width: calc(100%-20px);
    border-radius: 1.25rem;
    border-style: none;
    height: 25px;
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard-Medium";
}

input::-webkit-input-placeholder {
    color: #d1d1d1;
}

.category {
    margin: 15px;
    width: 340px;
    height: 470px;
    text-align: center;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    table-layout: fixed;
    border-collapse: collapse;
}

tr,td {
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}
